<link rel="stylesheet" type="text/css" href="admin.css">
<h1>Dashboard Admin</h1>
<div class = "menu-admin">
	<%= link_to "Data Admin", admin_data_admin_path %>
	<%= link_to "Data Member", admin_data_member_path %>
	<%= link_to "Data Event",  admin_data_event_path %>
	<%= link_to "Data Visitor", admin_data_visitor_path %>
</div>


